<div class="banner">
  <div class="container text-light">
    <h1>Just like NETFLIX but better</h1>
    <p>Change your life. Make movie playlists.</p>
    <%= link_to 'Add a Playlist', new_list_path, class: "btn btn-danger" %>
  </div>
</div>
<div class="container">
  <h2 class="text-light p-4">Best Movies playlists</h2>
  <div class="conatianer d-flex gap-4">
    <% @lists.each do |list| %>
      <div class='position-relative'>
        <%= link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=list.photo.attached? ? cl_image_path(list.photo.key) : image_path('no-movies.jpg') %>)">
            <%= list.name %>
          </div>
        <% end  %>
      </div>
    <% end %>
  </div>
</div>
