h1, h2, h3, p {
  color: $light-gray;
}

p {
  margin-bottom: 0.5rem;
}

.list-card {
  background-color: #181818;
  border-radius: 10px;
  position: relative;
}

.movie-thumbnail {
  position: relative;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 140px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.thumbnail-transform {
  position: relative;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 140px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  z-index: 3;
}

.movie-info {
  position: absolute;
  visibility: hidden;
  width: 240px;
}

.info-transform {
  position: absolute;
  top: 135px;
  opacity: 1;
  width: 240px;
  z-index: 2;
  font-size: medium;
  background-color: $dark-grey;
  border-radius: 5px;
  padding: 32px 16px 8px;
}

.review {
  background-color: $dark-grey;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  padding: 16px;
}

.invisible {
  display: none;
}
